& {
  min-width: 35em;
  max-width: 35em;
}

a {
  text-decoration: underline;
}

.contentContainer {
  padding: 1em;
}

.syncedMessage {
  background: $dark-grey;
  padding: 0.5em;
  color: $off-white;

  a {
    color: $off-white;
  }
}

.syncedTitle {
  margin-right: 0.5em;
}

.orderInfo {
  color: $rhino;

  .title {
    padding-right: 0.5em;
  }

  .toolbar {
    .iconContainer {
      color: $pigeon-post;
    }

    .ui_icon-button {
      padding: 0;
    }
  }
}

.addOrderItemContainer {
  .search {
    max-width: 15em;
  }
}

.block {
  background-color: $off-white;
  margin: 2em;
  padding: 2em;

  & + .block {
    margin-top: 0;
  }

  .dots {
    flex: 1;
    // border-bottom: 1px dotted black;
    margin: 0 2em;
  }

  .group {
    height: 2em;
    align-items: flex-end;
  }

  .content {
    width: 15em;
  }

  .title {
    font-size: 1.5em;
  }

  .shippingContainer {
    height: 2em;
  }

  .value {
    font-size: 1.2em;
    font-weight: 600;

  }
}

.deliveryDateContainer{

  .material-icons {
    color: $nepal;
    font-size: 1.2em;
    margin-right: 0.5em;
  }

  .deliveryDate {
    width: inherit;
    background: none;
    border: none;
  }
}

.companyLogo {
  img {
    width: 6em;
    height: 6em;
    border: 1px solid $periwinkle-gray;
    border-radius: 50%;
  }
}

.companyAddress {
  padding-left: 0.8em;

  a {
    text-decoration: none;
  }
  .company {
    color: $brighter-gray;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.orderItems {
  box-shadow: inset 0 -1px 0 0 $botticelli;
  border: 1px solid $botticelli;
  border-radius: 4px;
  background: $white;

  .rowTable {
    padding: 0.5em 1em;
    border-bottom: 1px solid $botticelli;
  }
}
