{{ui/order-editor
    model=model
    items=filteredItems
    updateShipping=(action "updateShipping")
    saveOrder=(action "saveOrder")
    createOrderItem=(action "createOrderItem")
    updateOrderItem=(action "updateOrderItem")
    saveOrderItem=(action "saveOrderItem")
    deleteOrderItem=(action "deleteOrderItem")
    onOrderItemChange=(action "onOrderItemChange")
    createNewItem=(action "createNewItem")
    emailOrder=(action "emailOrder" model)
    deleteOrder=(action "deleteOrder" model)
    toggleOrderState=(action "toggleOrderState" model)
    updateDeliveryDate=(action "updateDeliveryDate" model)}}
{{#sticky-container}}
  <div class="row top wrap">
    {{sections/locations/location-note
          locationNote=model.location.note
          page="purchase_orders"
          save=(action "saveLocationNote" model.location)}}
  </div>
{{/sticky-container}}