$slate: #232323;
$off-white: #F9F9F9;
$light-grey: #C9C9C9;
$medium-grey: #EBEDEC;
$dark-grey: #4C4C4C;
$sky-blue: #00B3DD;
$baby-blue: #BDEFFF;
$light-blue: #F3FDFF;
$light-green: #DEFFEE;
$dark-green: #4ACE86;
$dark-orange: #FFD400;
$hot-pink: #FF646C;
$dope-blue: #4DA6FF;
$light-orange: #F5E385;

$bright-gray: #33394B;
$athens-gray: #FAFBFC;
$selago: #F7FBFE;
$botticelli: #D8E5EE;

$white: #FFFFFF;
$nepal: #8DABC4;
$curious-blue: #3588CC;
$brighter-gray: #1969AB;
$periwinkle-gray: #C5DBEA;
$rhino: #2C405A;
$pigeon-post: #A9C6DE;

$atlantis: #81C926;
$java: #26C1C9;
$supernova: #FACA00;
$portage: #AB7DF6;
