&.highlighted {
  background: $athens-gray;
}

.name {
  min-width: 14em;
}

.unitPriceContainer {
  justify-content: flex-end;
}

.quantity {
  width: 2em;
  text-align: right;
  border: 1px solid $botticelli;
  border-radius: 4px;
  padding: 0.5em;
  background: $white;
  color: $nepal;
}

.delete {
  .iconContainer {
    color: $nepal;
  }
}

.index {
  min-width: 1.6em;
}

.itemImage {
  line-height: 0;
  img {
    width: 2.6em;
    height: 2.6em;
    border-radius: 8px;
  }
}
