.titleBar {
  border-bottom: 1px solid $botticelli;
  background-color: $athens-gray;
  padding: 0.8em 0.4em;

  .title {
    color: $nepal;
    text-transform: uppercase;
  }

  .material-icons {
    color: $nepal;
  }
}

.filterContainer {
  padding: 1em;

  & > div + div {
    padding-top: 1em;
  }

  .filterQuery {

    input {
      padding: 0.5em;
    }

    .material-icons {
      color: $off-white;
    }
  }

  .filterItem {
    .ember-power-select-trigger {
      border: none;
      background-color: $dark-grey;
      padding: 0.5em;
      border-radius: initial;
    }

    .ember-power-select-multiple-option {
      @extend .ellipsis;
      width: 6em;
    }
  }
}
