& {
  justify-content: space-between;
  align-items: center;
  min-height: 1.9em;
}

.contentContainer {
  align-items: baseline;
}

.index {
  font-style: italic;
  font-size: 0.8em;
}

.title {
  cursor:default;
}
