<span class="searchTitle">{{title}}</span>
<div class="itemFilterContainer">
  {{#power-select-multiple
    options=items
    selected=selectedItems
    searchField="name"
    placeholder="Search..."
    onchange=(action "itemSelected")
    as |item|
  }}
    {{item.name}}
  {{/power-select-multiple}}
</div>
