{{#ui/collapsible-container title="Item totals" preferencesKey="itemTotalsSalesOrderOpen"}}
  {{#each itemTotals as |itemTotal|}}
    <div class="row stretch left spaceBetween itemRow">
      <span class="name">{{itemTotal.name}}</span>
      <span class="quantity">{{itemTotal.quantity}}</span>
    </div>
  {{/each}}

  <br>

  <div class="row stretch left spaceBetween itemRow">
    <span class="name">Total Units:</span>
    <span class="quantity">{{totalUnits}}</span>
  </div>
{{/ui/collapsible-container}}
