{{ui/icon-button
  class="trigger"
  type=(or icon "menu")
  size=(if size size 1.4)
  padding=(if padding padding 0)
  flat=true
  click=(action "toggle")}}

{{#if showMenu}}
  {{#tether-dialog
      hasOverlay=false
      attachment="top left"
      targetAttachment="right left"
      target=this}}
      <div class="content" style={{menuColors}}>
        {{yield}}
      </div>
  {{/tether-dialog}}
{{/if}}
