{{#ui/loading-panel isLoading=isLoading}}
  {{ui/title-bar
    title=(concat "Sales trends" (if isHidden " +" " -"))
    click=(action "toggleOpenClose")
  }}
  <div class='{{if isHidden "chart hidden" "chart"}}'>
    {{ember-chart
        type="Line"
        legend=true
        data=chartData
        width=250
        height=200}}
  </div>
{{/ui/loading-panel}}
