<div class="row stretch">
  {{sections/companies/customer-list
    customers=customers
    priceTiers=priceTiers
    showCustomer=(action "showCustomer")
    createNewCustomer=(action "createNewCustomer")
  }}
  <div class="col-5">
    {{outlet}}
  </div>
</div>