& {
  margin: 0.5em;
  min-width: 18em;
  background: $bright-gray;
  color: $white;
  padding: 0.5em 1em 1em 1em;
}

header {
  background: rgba(#fff, 0.5);
  padding: 0.5em;
}

.itemName {
  font-size: 1em;
  font-weight: bold;
}

.locationName {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.productionInfoContainer {
  margin-top: 0.5em;
  border-top: 1px solid rgba(255, 255, 255, .5);
  padding-top: 0.5em;
  margin-left: 1em;
}

.mainContentContainer {
  font-size: 0.9em;
}

.rowItem {
  margin-left: 1em;

  .value, .copy{
    opacity: 0.56;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    margin-right: 1em;
    border-radius: 7.5px;
    background-color: $white;
  }
}

.previousEnding {
  &::before {
   background-color: $atlantis;
  }
}

.returns {
  &::before {
   background-color: $java;
  }
}

.sold {
  &::before {
   background-color: $supernova;
  }
}

.ending {
  &::before {
   background-color: $portage;
  }
}

.noDataMessage {
  margin-left: 1em;
}

.footer {
  margin-left: 1em;
  align-items: flex-end;
  justify-content: space-between;
  opacity: 0.5;

  .updatedAt {
    font-size: 0.8em;
    font-style: italic;
  }
}
